<ion-modal-view class="modalverde" hide-nav-bar="true">
	<ion-content>
		<br/>
		<h3 class="align-center">{{'Total R$ ' + fatura.total.toLocaleString('pt-br')}}</h3>
		<form>
			<div class="centro-fatura-detalhe">
				<h4>{{'Vencimento: ' + fatura.vencimento.toLocaleDateString()}}</h4>
				<h5>{{'Fechamento: ' + fatura.fechamento.toLocaleDateString()}}</h5>
			</div>


			<div class="row" ng-repeat="proc in fatura.procedimentos">
				<div class="col col-20">
					{{proc.data.getUTCDate() + ' ' + proc.data.toLocaleString('pt-br', { month: "short" }).toUpperCase()}}
				</div>
				<div class="col col-80">
					{{proc.procedimento + ' - Valor: R$ ' + proc.valor.toLocaleString('pt-br')}}
				</div>
			</div>

			<div class="padding" ng-show="fatura.fechada">
				<button type="button" ng-click="enviarFatura()" class="button button-block button-assertive">Enviar fatura</button>
			</div>

			<div class="padding" ng-show="!fatura.fechada">
				<button type="button" ng-click="pagar()" class="button button-block button-balanced">Pagar</button>
			</div>

			<div class="padding">
				<button type="button" ng-click="fecharModal(modal)" class="button button-block button-positive">Fechar</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>