<ion-view view-title="Feedback">
<ion-content>
<div class="list card">
  <div class="item item-divider">
    28/08/2016
  </div>
  <a class="item item-avatar">
    <img src="img/adam.jpg">
    <h2>João Souza</h2>
    <p>Resolveu</p>
    <span class="badge badge-energized">
      <i class="icon ion-ios-star"></i>
      <i class="icon ion-ios-star"></i>
    </span>
  </a>
  <a class="item item-avatar">
    <img src="img/ben.png">
    <h2>Roberto da Conceição</h2>
    <p>Médico atencioso</p>
    <span class="badge badge-energized">
      <i class="icon ion-ios-star"></i>
      <i class="icon ion-ios-star"></i>
      <i class="icon ion-ios-star"></i>
    </span>
  </a>
  <a class="item item-avatar">
    <img src="img/max.png">
    <h2>Jonas Medeiros</h2>
    <p>OK</p>
    <span class="badge badge-energized">
      <i class="icon ion-ios-star"></i>
    </span>
  </a>
  <a class="item item-avatar">
    <img src="img/mike.png">
    <h2>Jefferson Cavalcante</h2>
    <p>Exelente</p>
    <span class="badge badge-energized">
      <i class="icon ion-ios-star"></i>
      <i class="icon ion-ios-star"></i>
      <i class="icon ion-ios-star"></i>
      <i class="icon ion-ios-star"></i>
    </span>
  </a>
  <a class="item item-avatar">
    <img src="img/perry.png">
    <h2>Jefferson Cavalcante</h2>
    <p>Ok</p>
    <span class="badge badge-energized">
      <i class="icon ion-ios-star"></i>
    </span>
  </a>
  <a class="item item-avatar">
    <img src="img/jorge.jpg">
    <h2>Jorge luiz</h2>
    <p>Ok</p>
    <span class="badge badge-energized">
      <i class="icon ion-ios-star"></i>
    </span>
  </a>
  <a class="item item-avatar">
    <img src="img/juliany.jpg">
    <h2>Juliany Camargo</h2>
    <p></p>
    <span class="badge badge-energized">
      <i class="icon ion-ios-star"></i>
    </span>
  </a>
  <!-- -------------------------------------------------------------------------------------------------------- -->

  <div class="item item-divider">
    29/08/2016
  </div>
  <a class="item item-avatar">
    <img src="img/lancelotti.jpg">
    <h2>Arthur Lancelotti</h2>
    <p>Fez seu trabalho</p>
    <span class="badge badge-energized">
      <i class="icon ion-ios-star"></i>
    </span>
  <a class="item item-avatar">
    <img src="img/mariano.jpg">
    <h2>Mariano Gonçalves</h2>
    <p>Muito bom atendimento</p>
    <span class="badge badge-energized">
      <i class="icon ion-ios-star"></i>
      <i class="icon ion-ios-star"></i>
      <i class="icon ion-ios-star"></i>
    </span>
  </a>

</div>
</ion-content>
</ion-view>
