<ion-view view-title="Cooperado">
<ion-content>
  <div class="list card shadow">
    <h4 style="text-align: center;">Novos clientes filiados a Unimed</h4>
    <div class="item item-body">
      <img src="img/cliente.PNG" style="width: 100%">
    </div>
  </div>

  <div class="list card shadow">
    <h4 style="text-align: center;">Indicador de Lucro</h4>
    <div class="item item-body">
      <img class="image" src="img/receitas.PNG" style="width: 100%">
    </div>
  </div>
</ion-content>
</ion-view>