<ion-view view-title="Autenticação">
	<div class="inicial">
	  <ion-content>
	  <img src="img/logo-unimed.png" width="100%">
	    <ion-list>
	      <div class="list list-inset shadow">
				  <label class="item item-input">
				      <input type="text" placeholder="Usuário">
				  </label>
				  <label class="item item-input">
				    <input type="password" placeholder="Senha">
				  </label>
				</div>
	    </ion-list>
			<div style="padding: 10px">
				<a class="button button-block login shadow"
					href="#/tab/home"
					style="border-radius: 0">
					Entrar
				</a>

				<a class="button button-block button-light shadow"
					href="#/start"
					style="border-radius: 0">
					Cancelar
				</a>
			</div>
	  </ion-content>
	</div>
</ion-view>
