<ion-view view-title="Meu Plano">
<ion-content>
<div class="list card" style="background-color: #008B59; ">
  <h4 style="text-align: center; color: #7CFC00">Plano Empresarial Executivo</h4>
  <div class="item item-body plan">
    
    <h4>TAXAS DE COPARTICIPAÇÃO</h4>
    <p>O Plano Executivo é um plano de saúde sem taxa de coparticipação.
    </p>
    
    <h4>COBERTURA</h4>
    <p>Plano com cobertura de atendimento nacional para consultas, exames, atendimento ambulatorial, atendimentos de urgência / emergência e internações hospitalares onde a prestadora possuir rede credenciada ou livre escolha de clínicas e profissionais médicos.
    </p>

    <h4>ACOMODAÇÃO</h4>
    <p>Acomodação hospitalar em quarto privativo (apartamento) com banheiro e com direito a acompanhante.
    </p>

    <h4>BENEFÍCIOS</h4>
    <li>Unimed Assist Internacional</li>

    <li>Você ou seu acompanhante podem usar a Unimed Assist Internacional se estiverem há mais de 50 km de suas residências e fora delas por até 60 dias.
    </li>

    <li>Quando você precisar, é só entrar em contato com a Central de Atendimento 24 horas do Unimed Assist:
    No Brasil, ligue 0800 55 5430.
    No Exterior, solicite ligação a cobrar: 55 11 4689 5573.
    </li>
    
    <p>Tanto no Brasil, quanto no exterior, o seguro cobre:</p>
    
    <li>Assistência médica por lesão ou doença;</li>
    <li>Adiantamento de gastos médicos, se a cobertura não for suficiente;</li>
    <li>Translado no caso de lesões ou doenças;</li>
    <li>Transporte e estadia de um familiar do titular e/ou acompanhante, caso o período de hospitalização for maior que 5 dias e este estiver desacompanhado;</li>
    <li>Prolongamento de estadia por lesão ou doença, caso seja necessário;</li>
    <li>Transporte em caso de falecimento do titular e/ou acompanhante;</li>
    <li>Transporte por interrupção da viagem devido a falecimento de familiar;</li>
    <li>Transporte urgente por ocorrência de sinistro na sua residência;</li>
    <li>Informações de procedimentos nos casos de perda/roubo de documentos;</li>
    <li>Adiantamento de fundos no Exterior por perda ou roubo de documentos;</li>
    <li>Localização e transporte de bagagem e objetos pessoais;</li>
    <li>Assistência jurídica;</li>
    <li>Transmissão de mensagens urgentes;</li>
    <li>Informações prévias para viagens.</li>
    
    <h4>Seguro de vida</h4>
    <p>O cliente, titular do Plano Executivo tem direito a um seguro de vida, desde que:</p>
    <li>Tenha permanecido no plano por pelo menos 6 meses;</li>
    <li>Tenha idade inferior a 65 anos no início do contrato;</li>
    <li>Esteja em perfeitas condições de saúde no início do contrato;</li>
    <li>Esteja em dia com o pagamento das mensalidades na data do óbito.</li>

    <h4>Benefício família</h4>
    <p>Se o cliente titular (inscrito há mais de 6 meses no plano e com idade inferior a 60 anos no início do contrato) vier a falecer, a família, inscrita no plano, terá direito ao benefício. Os dependentes inscritos no plano continuarão usufruindo dos serviços contratados por 5 anos a partir da data do óbito, com isenção total do pagamento das mensalidades. No caso dos filhos, o benefício é até o limite de 24 anos de idade. Se o filho dependente estiver com 22 anos de idade no momento do óbito do titular, permanecerá com o plano até completar 24 anos.</p>

    <h4><b>CARÊNCIAS</b></h4>
    <li>24 (vinte e quatro) horas para a cobertura de casos de urgência ou emergência;</li>
    <li>30(trinta) dias para consultas médicas;</li>
    <li>30 (trinta) dias para exames laboratoriais (Ex: exame de sangue);</li>
    <li>90 (noventa) dias para consultas /sessões de fonoaudiologia, nutrição, psicoterapia e terapia ocupacional, nos termos previstos neste instrumento;</li>
    <li>180 (cento e oitenta) dias para os exames sofisticados (Ex: Ecocardiograma, Tomografia Computadorizada, Quimioterapia, etc.);</li>
    <li>180 (cento e oitenta) dias para internação hospitalar de qualquer natureza;</li>
    <li>300 (trezentos) dias para parto a termo.</li>

    <h4> DEPENDENTES </h4>
    <p>Para incluir um novo dependente você precisará apresentar um dos seguintes documentos que comprovem o grau de dependência:</p>
    <li>Certidão de nascimento, certidão de casamento ou declaração de escritura pública, Cartão Nacional do SUS e nome da mãe.</li>
    <li>Quando recém-nascido, número da Declaração de Nascido Vivo número do cartão nacional do SUS e nome da mãe.</li>
    <li>O recém-nascido só receberá atendimento sem o Cartão de Identificação, durante os 30 (trinta) dias a contar do nascimento. A partir desse prazo, já deverá estar inscrito na assistência médica e só será atendido com sei Cartão de Identificação pessoal.</li>
    <li>Caso a inclusão seja feita fora do prazo de 30 dias, o dependente estará sujeito a um período de carência.</li>

    <h4>MENSALIDADES E REEMBOLSOS</h4>
    <p>O Plano Executivo permite aos seus clientes escolher o médico e dá direito ao reembolso, de acordo com a Tabela de Reembolso Unimed.</p>
    <p>O prazo máximo para reembolso será de 30 dias a partir da data de entrega dos recibos ou notas fiscais originais para a Unimed VTRP. </p>
    <p>Reembolsos para custos hospitalares de internação clínica ou cirúrgica ocorrerão mediante informações médicas (pedido médico da internação, relatório médico com diagnóstico, CID e código do procedimento) no que diz respeito à permanência hospitalar e recursos terapêuticos utilizados. Os valores serão reembolsados, dentro dos limites, em conta corrente do titular.
    </p>
    <P>Toda a documentação de reembolso terá uma análise prévia da auditoria médica e administrativa, com o objetivo de verificar procedimentos cobertos e providenciar os reembolsos conforme tabela do plano correspondente.</P>

    <h4>OBSERVAÇÕES IMPORTANTES</h4>
    <li>A listagem das clínicas, laboratórios e prestadores de serviços da rede credenciada pode ser conferida no guia médico Unimed,
    disponível no site www.unimedvtrp.com.br. A pesquisa oide ser feita conforme sua necessidade: por cidade, especialidade, plano, etc.</li>
    <li>Em caso de perda, extravio ou furto do seu cartão de identificação, comunique o SAC no prazo máximo de 24 horas. Um novo cartão será enviado pela Unimed para seu endereço residencial após 12 (doze) dias úteis da solicitação.</li>
    <li>Em caso de mudança de endereço comunique imediatamente a Unimed.</li>
    <li>Seu cartão de identificação garante acesso à rede credenciada nacional, sem necessidade de qualquer desembolso no atendimento.</li>
    <li>A apresentação do seu cartão de identificação e o seu documento de identidade são indispensáveis para qualquer atendimento.</li>
    <li>Você pode obter informações sobre a utilização do seu Plano de Saúde e detalhes relacionados à Rede Credenciada através do SAC Exclusivo Plano Executivo.
    0800 643 3464</li>
    <li>Não solicite exames por conta própria, faça-os somente quando necessário de acordo com solicitação médica.</li>
  </div>
</div>
</ion-content>
</ion-view>
