<ion-view view-title="Ouvidoria">
<ion-content>

  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <span class="ion-email" style="font-size: 32px;"></span>
      </ion-thumbnail>
          <h2>Recebi um ótimo antedimento na minha última consulta</h2>
          <p>Hayao Miyazaki</p>     
      </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <span class="ion-email" style="font-size: 32px;"></span>
      </ion-thumbnail>
          <h2>Impressão da 2º via da carteirinha</h2>
          <p>Winston</p>     
      </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <span class="ion-email" style="font-size: 32px;"></span>
      </ion-thumbnail>
          <h2>No site você poderiam disponibilizar a impressão de 2º via de documentos</h2>
          <p>Dana</p>     
      </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <span class="ion-email" style="font-size: 32px;"></span>
      </ion-thumbnail>
          <h2>Poderiam colocar nos prontos atendimentos um reconhecimento via leitor de código de barras um reconhecimento de pacientes.</h2>
          <p>Cléber Tanamati</p>     
      </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <span class="ion-email" style="font-size: 32px;"></span>
      </ion-thumbnail>
          <h2>Não consigo imprimir a 2º via do boleto</h2>
          <p>Christina Rebeca </p>     
      </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-thumbnail item-left>
        <span class="ion-email" style="font-size: 32px;"></span>
      </ion-thumbnail>
          <h2>Tenho uma dúvida sobre atendimento internacional</h2>
          <p>Alvaro Perez </p>     
      </ion-item>
  </ion-list>

</ion-content>
</ion-view>
