<ion-view view-title="Relatórios">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Produção
      </div>
      <div class="item item-text-wrap">
        <img src="img/2016-08-28.jpg" style="width: 100%;">
      </div>
    </div>

    <div class="list card estrato">
      <div class="item item-divider">
        Extrato sintético
      </div>
      <a class="item item-icon-left">
        <span>R$ 1264,00</span>
        Consulta Em consultório
      </a>

      <a class="item item-icon-left">
        <span>R$ 264,00</span>
        Deduções
      </a>

      <a class="item item-icon-left">
        <span>R$ 1264,00</span>
        Crédito
      </a>

      <a class="item item-icon-left">
        <span>R$ 254,00</span>
        INSS
      </a>

    </div>
  </ion-content>
</ion-view>