<ion-view view-title="Home">
  <ion-content ng-controller="StartCtrl">
    <div class="start-content">
      <img src="img/logo-unimed.png" width="100%">

      <div class="list list-inset start">
        <a class="item item-icon-left" href="#/login">
          <i class="ion-chevron-right icon-right"></i>
          <i class="icon ion-power"></i>
          <span>Acesso</span>
        </a>
      </div>

      <div class="list list-inset start" >
        <a class="item item-icon-left" href="#/localization">
          <i class="ion-chevron-right icon-right"></i>
          <i class="icon ion-android-map"></i>
          <span>Localizar unidades</span>
        </a>
      </div>

      <div class="list list-inset start" >
        <a class="item item-icon-left" href="#/contact">
          <i class="ion-chevron-right icon-right"></i>
          <i class="icon ion-email"></i>
          <span>Fale conosco</span>
        </a>
      </div>


      <div class="list list-inset start" >
        <a class="item item-icon-left" href="#">
          <i class="ion-chevron-right icon-right"></i>
          <i class="icon ion-android-call"></i>
          <span>SAC 0800-9999-9999</span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>