<ion-view view-title="Colaborador">
<ion-content>
<div class="list card">
	<h4 style="text-align: center;">Agenda de Pacientes</h4>
	<div class="item item-divider">
		28/08/2016
	</div>
	<a class="item item-avatar">
		<img src="img/adam.jpg">
		<h2>João Souza</h2>
		<p>Sentindo fortes dores de cabeça...</p>
		<span class="badge badge-assertive">08:30</span>
	</a>
	<a class="item item-avatar">
		<img src="img/ben.png">
		<h2>Roberto da Conceição</h2>
		<p>Com nausias e febre</p>
		<span class="badge badge-assertive">09:00</span>
	</a>
	<a class="item item-avatar">
		<img src="img/max.png">
		<h2>Jonas Medeiros</h2>
		<p>Sintomas de dengue</p>
		<span class="badge badge-assertive">10:10</span>
	</a>
	<a class="item item-avatar">
		<img src="img/mike.png">
		<h2>Jefferson Cavalcante</h2>
		<p>Suspeita de carapora</p>
		<span class="badge badge-assertive">10:50</span>
	</a>
	<a class="item item-avatar">
		<img src="img/perry.png">
		<h2>Jefferson Cavalcante</h2>
		<p>Conferencia de exames</p>
		<span class="badge badge-assertive">11:20</span>
	</a>
	<a class="item item-avatar">
		<img src="img/jorge.jpg">
		<h2>Jorge luiz</h2>
		<p>Forte dores nas costas</p>
		<span class="badge badge-assertive">11:40</span>
	</a>
	<a class="item item-avatar">
		<img src="img/juliany.jpg">
		<h2>Juliany Camargo</h2>
		<p>Sentindo pontadas nos peito</p>
		<span class="badge badge-assertive">13:50</span>
	</a>
	<!-- -------------------------------------------------------------------------------------------------------- -->

	<div class="item item-divider">
		29/08/2016
	</div>
	<a class="item item-avatar">
		<img src="img/lancelotti.jpg">
		<h2>Arthur Lancelotti</h2>
		<p>CheckUp Rotina</p>
		<span class="badge badge-assertive">14:00</span>
	<a class="item item-avatar">
		<img src="img/mariano.jpg">
		<h2>Mariano Gonçalves</h2>
		<p>lesao na coxa</p>
		<span class="badge badge-assertive">14:25</span>
	</a>

</div>
</ion-content>
</ion-view>
