<ion-view view-title="Cliente">
<ion-content>
<div class="list card">
  <h4 style="text-align: center;">Campanha de Vacinação Unimed</h4>
  <div class="item item-body">
    <img class="image" src="img/vacina.jpg" style="width: 100%">
    <p>A Vacinação é a forma mais eficaz de proteção contra doenças.</p>
    <p>Por isso, a Unimed criou um convênio com Clínicas de Vacinação para que você cliente usufrua de um desconto de 15%.</p>
  </div>
</div>
<div class="list card">
  <h4 style="text-align: center;">Campanha de Férias Unimed</h4>
  <div class="item item-body">
    <img class="image" src="img/ferias.png" style="width: 100%">
    <p>Esta época, que coincide com o verão, é oportuna para programar o máximo de atividades ao ar livre – praia, parque, piscina, etc.
      Para que tudo ocorra conforme planejado, fazendo com que as férias sejam as mais divertidas possíveis, mesmo para quem passará boa parte do tempo dentro de casa, elencamos alguns cuidados fundamentais.
    </div>
  </div>
</ion-content>
</ion-view>
