 <ion-view view-title="Home">
    <ion-content>
      <!-- The content of the page -->
      <a href="#/music">Go to music page!</a>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
      asdasdad<br>
    </ion-content>
  </ion-view>