<ion-view view-title="Solicitação de Serviço">
   <ion-content>

      <div class="row">
         <div class="col-100">
            <div class="row">
              
              <h4>Carência do Plano</h4>
            </div>
              <small>Contratação: 21/05/2008</small>
         </div> 
      </div>

      <div class="row">
        <div class="col-50">
          <ion-list>
            <ion-item>Acupuntura</ion-item>
            <ion-item>Angiografia</ion-item>
            <ion-item>Cardíaco</ion-item>
            <ion-item>Citilografia</ion-item>
            <ion-item>Cirurgia Refrativa</ion-item>
            <ion-item>Densitrometria Ossea</ion-item>
            <ion-item>Endoscopia</ion-item>
            <ion-item>Enfermaria</ion-item>
            <ion-item>Fisioterapia</ion-item>
            <ion-item>Genética</ion-item>
          </ion-list>
        </div>
        <div class="col-50">
          <ion-list>
            <ion-item>01/01/2009</ion-item>
            <ion-item>22/08/2008</ion-item>
            <ion-item>14/08/2009</ion-item>
            <ion-item>12/09/2009</ion-item>
            <ion-item>12/06/2008</ion-item>
            <ion-item>30/12/2008</ion-item>
            <ion-item>30/10/2008</ion-item>
            <ion-item>20/03/2009</ion-item>
            <ion-item>06/01/2009</ion-item>
            <ion-item>06/01/2009</ion-item>
          </ion-list>
        </div>
      </div>

  </ion-content>

</ion-view>