<style type="text/css">

.item-thumbnail-left{
  border-radius:0px;
}

.filtro{
  margin: 10%;
}

.cdaesquerda{
  margin-left: 10%;
}

</style>


<ion-view view-title="Histórico">
<ion-content>
<div class="row filtro">
  Apartir de :
  <div class="cdaesquerda">
    <select>
      <option>Janeiro</option>
      <option>Fevereiro</option>
      <option>Março</option>
      <option>Abril</option>
      <option>Maio</option>
      <option>Junho</option>
      <option>Julho</option>
      <option selected>Agosto</option>
      <option>Setembro</option>
      <option>Outubro</option>
      <option>Novembro</option>
      <option>Dezembro</option>
    </select>
  </div>
  <div>
    <select>
      <option>2000</option>
      <option>2001</option>
      <option>2002</option>
      <option>2003</option>
      <option>2004</option>
      <option>2005</option>
      <option>2006</option>
      <option>2002</option>
      <option>2007</option>
      <option>2008</option>
      <option>2009</option>
      <option>2010</option>
      <option>2011</option>
      <option>2012</option>
      <option>2013</option>
      <option>2014</option>
      <option>2015</option>
      <option selected>2016</option>
    </select>
  </div>
</div>




<div class="row"> 
  <a class="item item-thumbnail-left" href="">
    <img src="../img/cirurgia.png">
    <h2><font color="red">Cirurgia</font></h2>
    <p><strong>Data : 07/08/2016</strong></p>
    <p>Procedimento: Ligamento cruzado anterior.</p>
    <p>Clínica: São Bento.</p>
    <p>Médico: Dr. Oswaldo Carvalho.</p>
    <p><font color="green">Custo: R$ 400,00</font></p>
  </a>
</div>
<div class="row"> 
  <a class="item item-thumbnail-left" href="">
    <img src="../img/stethoscope2.png">
    <h2><font color="red">Consulta</font></h2>
    <p><strong>Data : 20/07/2016</strong></p>
    <p>Motivo: Avaliação.</p>
    <p>Clínica: Hospital Jardim.</p>
    <p>Médico: Dra. Wanda Brito.</p>
    <p><font color="green">Custo: R$ 30,00</font></p>
  </a>
</div>  
<div class="row"> 
  <a class="item item-thumbnail-left" href="">
    <img src="../img/stethoscope2.png">
    <h2><font color="red">Consulta</font></h2>
    <p><strong>Data : 12/07/2016</strong></p>
    <p>Motivo: Acompanhamento.</p>
    <p>Clínica: São Bento.</p>
    <p>Médico: Dr. Oswaldo Carvalho.</p>
    <p><font color="green">Custo: R$ 0,80</font></p>
  </a>
</div>
<div class="row"> 
  <a class="item item-thumbnail-left" href="">
    <img src="../img/exame.png">
    <h2><font color="red">Exame</font></h2>
    <p><strong>Data : 28/06/2016</strong></p>
    <p>Procedimento: Coleta de sangue.</p>
    <p>Clínica: Clinica Novo Centro.</p>
    <p><font color="green">Custo: R$ 4,00</font></p>
  </a>
</div>
<div class="row"> 
  <a class="item item-thumbnail-left" href="">
    <h2><strong><font color="blue">Total</font></strong></h2>
    <p><font color="green">Custo: R$ 434,80</font></p>
  </a>
</div>   



</ion-content>

</ion-view>