<ion-view view-title="Sintomas">
  <ion-content>
    <div class="row" ng-click="clickUsuario()"> 
      <a class="item item-thumbnail-left" href="">
        <img src="../img/medico1.png">
        <h2>Dr. Pedro Paulo</h2>
        <p>CRM-PR 00-000.</p>
        <p>Neurologista.</p>
        <p>Avaliação: Excelente.</p>
      </a>
    </div>
    <div class="row" ng-click="clickUsuario()"> 
      <a class="item item-thumbnail-left" href="">
        <img src="../img/medica1.png">
        <h2>Dra. Maria</h2>
        <p>CRM-PR 00-000.</p>
        <p>Neurologista.</p>
        <p>Avaliação: Excelente.</p>
      </a>
    </div>
    <div class="row" ng-click="clickUsuario()"> 
      <a class="item item-thumbnail-left" href="">
        <img src="../img/medica2.png">
        <h2>Dra. Ana</h2>
        <p>CRM-PR 00-000.</p>
        <p>Clinico Geral.</p>
        <p>Avaliação: Boa.</p>
      </a>
    </div> 
    <div class="row" ng-click="clickUsuario()"> 
      <a class="item item-thumbnail-left" href="">
        <img src="../img/medico2.png">
        <h2>Dr. Júlio</h2>
        <p>CRM-PR 00-000.</p>
        <p>Clinico Geral</p>
        <p>Avaliação: Regular.</p>
      </a>
    </div> 
    <div class="row">
      <button class="button button-full button-light">
        mais...
      </button>
    </div>
  </ion-content>
</ion-view>