<style type="text/css">
img {
	width: 328px;
}
</style>
<ion-view view-title="Medico">
<ion-content>
<div class="row"> 
	<a class="item item-thumbnail-left" href="">
		<img src="../img/medico1.png">
		<h2>Dr. Pedro Paulo</h2>
		<p>CRM-PR 00-000.</p>
		<p>Pediatra.</p>
		<p>Avaliação: Excelente.</p>
	</a>
</div>
<br>
<div style="margin-left: 10%; margin-right: 10%;">
<a>Dia de atendimento: Terça a Sexta.</a></br>
<a>Horario de atendimento: 09:30 as 17:00.</a></br>
</div>
<hr>
<a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur consequat auctor. Ut in faucibus odio. Integer bibendum leo sed augue faucibus cursus. Proin scelerisque lacus sed faucibus ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis at bibendum nunc.</a>
<div class="row">
	<img src="../img/mapa.png">
</div>
<div class="row">
	<button class="button button-full button-balanced">
		Marcar consulta
	</button>
</div>
</ion-content>
</ion-view>