<style type="text/css">
    .bloco{
        background-color:#00fffa;
        width: 100%;
        height:50px ;
    }
    .alturaRow {
      height: 70px;
    }

    a{
        text-decoration:none;
    }

</style>

<ion-view view-title="Medicina Preventiva">
    <ion-content>

        <div class="row">
           <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/medicinaPreventiva/detalhe/1"><img src="../img/cancaoNinar.jpg"></a>
                  </div>
                </div>
            </div>
            <div class="col-50">
                <div class="list card">

                    <a href="#/app/medicinaPreventiva/detalhe/2"><img src="../img/saudeEmpresarial.jpg"></a>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/medicinaPreventiva/detalhe/3"><img src="../img/sempreBem.jpg"></a>
                  </div>
                </div>
            </div>
            <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/medicinaPreventiva/detalhe/4"><img src="../img/temVida.jpg"></a>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
           <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/medicinaPreventiva/detalhe/5"><img src="../img/reeducacaoAlimentar.jpg"></a>
                  </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>