<style type="text/css">

</style>

<ion-view view-title="Unimed">
    <ion-content>
        <div class="list card">

            <div class="item">
                <h2><b>Curso para gestantes</b></h2>
                <p>28 de Agosto de 2016</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="../img/cursoParaGravidas.png">
                <p>
                    Olá Sra. Marta, a Unimed estará oferecendo gratuitamente um curso para você. No dia 30/08/2016 às 8hs vamos disponibilizar informações sobre o período de gravidez e maternidade preparando você, futura mamãe, para receber o novo membro da família.   
                </p>
                <button ng-click="showAlert()" class="button button-block button-calm"> Confirmar Presença </button>
            </div>

        </div>

        <div class="list card">

            <div class="item">
                <h2><b>Consulta</b></h2>
                <p>22 de Agosto de 2016</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="../img/consulta.jpg">
                <p>
                    Olá Sra. Marta, gostaria de lembra-la que você tem consulta com o Dr. Ricardo no dia <b> 31/08/2016 </b> às <b>13h00</b>   
                </p>
            </div>

        </div>
</ion-content>
</ion-view> 