<style type="text/css">
    .bloco{
        background-color:#00fffa;
        width: 100%;
        height:50px ;
    }
    .alturaRow {
      height: 70px;
    }

    a{
        text-decoration:none;
    }

</style>

<ion-view view-title="Minha Agenda">
    <ion-content>
        <!-- <div class="row"> -->
          <div class="list">

            <label class="item item-input item-select">
              <div class="input-label">
                Escolha o mês
              </div>
              <select>
                <option>Janeiro</option>
                <option>Fevereiro</option>
                <option>Março</option>
                <option>Abril</option>
                <option>Maio</option>
                <option>Junho</option>
                <option>Julho</option>
                <option selected>Agosto</option>
                <option>Setembro</option>
                <option>Outubro</option>
                <option>Novembro</option>
                <option>Dezembro</option>
              </select>
            </label>

          </div>


        <div class="list">
            <a class="item item-avatar">
                <img src="img/08.png">
                <h2>Dr. João Henrique - Neurologista</h2>
                <p>Clínica 1 - Av. Brasil 1234</p>
                <p>(44) 3882-0993</p>
            </a>
            <hr>
            <a class="item item-avatar">
                <img src="img/11.png">
                <h2>Dr. João Augusto - Médico Geral</h2>
                <p>Clínica 1 - Av. Brasil 1234</p>
                <p>(44) 3882-0993</p>
            </a>
            <hr>

            <a class="item item-avatar">
                <img src="img/17.png">
                <h2>Dr. Lucas Felipe - Oncologista</h2>
                <p>Clínica 1 - Av. Brasil 1234</p>
                <p>(44) 3882-0993</p>
            </a>
            <hr>
             <a class="item item-avatar">
                <img src="img/27.png">
                <h2>Dr. Lucas Felipe2 - Pediatra</h2>
                <p>Clínica 1 - Av. Brasil 1234</p>
                <p>(44) 3882-0993</p> 
            </a>
        </div>

    </ion-content>

</ion-view>