<style type="text/css">
    .bloco{
        background-color:#ffaaff;
    }

    a{
        text-decoration:none;
    }
    .botaoPrincipal{
        width: 100%;
    }
</style>

<ion-view view-title="Unimed">
    <ion-content>
        <div class="row">
           <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/financeiro"><img src="../img/financeiro.jpg"></a>
                  </div>
                </div>
            </div>
            <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/minhaAgenda"><img src="../img/minhaAgenda.jpg"></a>
                  </div>
                </div>
            </div>
        </div>

         <div class="row">
           <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/sintomas"><img src="../img/sintomas.jpg"></a>
                  </div>
                </div>
            </div>
            <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/atualizarDados"><img  src="../img/atualizarDados.jpg"></a>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
           <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/medicinaPreventiva"><img src="../img/medicinaPreventiva.jpg"></a>
                  </div>
                </div>
            </div>
            
            <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/solicitacaoServicos"><img src="../img/solicitacaoServico.jpg"></a>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
           <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                   <a href="#/app/duvidas"> <img src="../img/duvidas.jpg"></a>
                  </div>
                </div>
            </div>
            <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/mensagensedicas"><img src="../img/mensagensDicas.jpg"></a>
                  </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view> 
