<ion-view view-title="Solicitação de Serviço">
   <ion-content>

<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Mês Referente

    </div>
    <select style="width: 120px">
      <option>Janeiro</option>
      <option>Fevereiro</option>
      <option>Março</option>
      <option>Abril</option>
      <option>Maio</option>
      <option>Junho</option>
      <option>Julho</option>
      <option selected>Agosto</option>
      <option>Setembro</option>
      <option>Outubro</option>
      <option>Novembro</option>
      <option>Dezembro</option>
    </select>
  </label>
<hr>
</div>

      <div class="row">
         <div class="row">
            <button ng-click="salvar()" class="button button-full button-balanced">
              Salvar
            </button>
         </div>      
      </div>

   </ion-content>
</ion-view>