<ion-view view-title="Solicitação de Serviço">
   <ion-content>

      <div class="row">
         <div class="col-100">
            <h4 class="configText">Confirme seu email!</h4>
            <label class="item item-input item-stacked-label" >
               <input type="text" ng-model="cartao.email" placeholder="E-mail" style="width: 350px">
            </label>
         </div> 
      </div>

      <div class="row">
         <div class="row">
            <button ng-click="salvar()" class="button button-full button-balanced">
              Salvar
            </button>
         </div>      
      </div>

   </ion-content>
</ion-view>