<style type="text/css">
    .bloco{
        background-color:#00fffa;
        width: 100%;
        height:50px ;
    }
    .alturaRow {
      height: 70px;
    }

    a{
        text-decoration:none;
    }

</style>

<ion-view view-title="Solicitação de Serviço">
    <ion-content>

        <div class="row">
           <div class="col-50">
                <div class="list card">
                  <div class="item item-image" ng-click="showConfirm()">
                    <a href="#/app/segundaViaCartao"><img src="../img/segundaViaCartao.jpg"></a>
                  </div>
                </div>
            </div>
            <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/segundaViaBoleto"><img src="../img/segundaViaBoleto.jpg"></a>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-50">
                <div class="list card">
                  <div class="item item-image">
                    <a href="#/app/carenciaPlano"><img src="../img/carencia.jpg"></a>
                  </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>