<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Nova Solicitação</h3>
</div>
<div class="modal-body" id="modal-body">
  <form role="form">
    <div class="form-group">
      <label>Tipo de Solicitação</label>
      <select class="form-control" ng-options="item.tipo for item in $ctrl.tipos" ng-model="$ctrl.solicitacao"></select>
    </div>

    <div class="form-group">
      <label for="exampleInputFile">Documentos</label>
      <input type="file" id="exampleInputFile" multiple="true">
      <p class="help-block">Selecione arquivos do tipo .png .jpg .pdf, tamanho máximo 2mb</p>
    </div>
    <div class="form-group">
      <label>Observações</label>
      <textarea class="form-control" rows="3" placeholder="Observações"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.solicitar()">Solicitar</button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.close()">Cancelar</button>
</div>
