<div class="noticias">
  <h1>Notícias</h1>
  <a href="/#/noticia-single" class="cada-noticia">
    <div class="foto-noticia"></div>
    <div class="categoria">
      Eventos
      <span class="data">28/08/16</div
    </div>
    <div class="tit">Hackathon Unimed Maringá</div>
    <div class="desc">
      Maratona terá a duração de 24 horas e reúne profissionais de tecnologia da informação e interessados na área; premiação será de R$ 5 mil por categoria
    </div>
  </a>
  <a href="/#/noticia-single" class="cada-noticia">
    <div class="foto-noticia"></div>
    <div class="categoria">
      Eventos
      <span class="data">28/08/16</div
    </div>
    <div class="tit">Hackathon Unimed Maringá</div>
    <div class="desc">
      Maratona terá a duração de 24 horas e reúne profissionais de tecnologia da informação e interessados na área; premiação será de R$ 5 mil por categoria
    </div>
  </a>
  <a href="/#/noticia-single" class="cada-noticia">
    <div class="foto-noticia"></div>
    <div class="categoria">
      Eventos
      <span class="data">28/08/16</div
    </div>
    <div class="tit">Hackathon Unimed Maringá</div>
    <div class="desc">
      Maratona terá a duração de 24 horas e reúne profissionais de tecnologia da informação e interessados na área; premiação será de R$ 5 mil por categoria
    </div>
  </a>
  <a href="/#/noticia-single" class="cada-noticia">
    <div class="foto-noticia"></div>
    <div class="categoria">
      Eventos
      <span class="data">28/08/16</div
    </div>
    <div class="tit">Hackathon Unimed Maringá</div>
    <div class="desc">
      Maratona terá a duração de 24 horas e reúne profissionais de tecnologia da informação e interessados na área; premiação será de R$ 5 mil por categoria
    </div>
  </a>
  <a href="/#/noticia-single" class="cada-noticia">
    <div class="foto-noticia"></div>
    <div class="categoria">
      Eventos
      <span class="data">28/08/16</div
    </div>
    <div class="tit">Hackathon Unimed Maringá</div>
    <div class="desc">
      Maratona terá a duração de 24 horas e reúne profissionais de tecnologia da informação e interessados na área; premiação será de R$ 5 mil por categoria
    </div>
  </a>
  <a href="/#/noticia-single" class="cada-noticia">
    <div class="foto-noticia"></div>
    <div class="categoria">
      Eventos
      <span class="data">28/08/16</div
    </div>
    <div class="tit">Hackathon Unimed Maringá</div>
    <div class="desc">
      Maratona terá a duração de 24 horas e reúne profissionais de tecnologia da informação e interessados na área; premiação será de R$ 5 mil por categoria
    </div>
  </a>
  <a href="/#/noticia-single" class="cada-noticia">
    <div class="foto-noticia"></div>
    <div class="categoria">
      Eventos
      <span class="data">28/08/16</div
    </div>
    <div class="tit">Hackathon Unimed Maringá</div>
    <div class="desc">
      Maratona terá a duração de 24 horas e reúne profissionais de tecnologia da informação e interessados na área; premiação será de R$ 5 mil por categoria
    </div>
  </a>
  <a href="/#/noticia-single" class="cada-noticia">
    <div class="foto-noticia"></div>
    <div class="categoria">
      Eventos
      <span class="data">28/08/16</div
    </div>
    <div class="tit">Hackathon Unimed Maringá</div>
    <div class="desc">
      Maratona terá a duração de 24 horas e reúne profissionais de tecnologia da informação e interessados na área; premiação será de R$ 5 mil por categoria
    </div>
  </a>
</div>
