<div class="noticia-single">
  <h1 class="cor">Hackathon Unimed Maringá</h1>
  <div class="data">28/08/2016</div>
  <div class="desc">
    Maratona terá a duração de 24 horas e reúne profissionais de tecnologia da informação e interessados na área; premiação será de R$ 5 mil por categoria
  </div>
  <img src="img/hackathon-single.png"/>
  <p>Termina neste s&aacute;bado (20) o prazo de inscri&ccedil;&otilde;es para o 1&ordm; Hackathon Unimed Maring&aacute;. A maratona de programa&ccedil;&atilde;o ter&aacute; a dura&ccedil;&atilde;o de 24 horas e ser&aacute; realizada nos dias 27 e 28 no Centro Universit&aacute;rio Cesumar (Unicesumar). As inscri&ccedil;&otilde;es s&atilde;o limitadas.</p>

<p>O Hackathon contar&aacute; com tr&ecirc;s categorias, mas cada equipe (de at&eacute; quatro pessoas), poder&aacute; participar de apenas uma, que ser&aacute; definida de maneira aleat&oacute;ria no dia do evento. A maratona tem o objetivo de fazer com que as equipes desenvolvam inova&ccedil;&otilde;es e solu&ccedil;&otilde;es para o mercado da Sa&uacute;de Suplementar, desenvolvendo ideias e prot&oacute;tipos relacionados aos temas que ser&atilde;o propostos.</p>

<p>De acordo com o gerente de Inova&ccedil;&atilde;o e Tecnologia da Unimed Maring&aacute;, Fabio Serpa, a realiza&ccedil;&atilde;o do Hackathon vai de encontro a busca da Unimed em aprimorar a experi&ecirc;ncia do benefici&aacute;rio com a cooperativa. &ldquo;Acreditamos que solu&ccedil;&otilde;es inovadoras tem um papel imprescind&iacute;vel neste contexto e temos a certeza que essa maratona &eacute; uma &oacute;tima oportunidade para proporcionar isso.&rdquo;</p>

<p><strong>Inscri&ccedil;&otilde;es</strong></p>

<p>Pessoas que tenham conhecimento em tecnologia da informa&ccedil;&atilde;o e que n&atilde;o trabalham na Unimed Maring&aacute; podem participar do evento. A equipe vencedora de cada categoria receber&aacute; um pr&ecirc;mio de R$ 5 mil. Para realizar inscri&ccedil;&atilde;o e ter mais informa&ccedil;&otilde;es basta acessar o site <a href="http://www.unimedmaringa.com.br/hackathon">www.unimedmaringa.com.br/hackathon</a>.</p>

<p><strong>Hackathon</strong></p>

<p>Hackathon &eacute; uma express&atilde;o formada a partir de duas palavras inglesas: <em><strong>Hack</strong></em> e <em><strong>Marathon</strong></em>. <em><strong>Hacker</strong></em> &eacute; quem se dedica a conhecer e entender profundamente sistemas, dispositivos, programas e redes de computadores. E <em><strong>Marathon</strong></em> &eacute; uma corrida de longa dist&acirc;ncia que demanda bastante energia dos competidores. Desta forma, hackathon, de uma forma simples, &eacute; uma competi&ccedil;&atilde;o que re&uacute;ne interessados na &aacute;rea de Tecnologia e Informa&ccedil;&atilde;o com o objetivo de desenvolver ideias de novas aplica&ccedil;&otilde;es ou solu&ccedil;&otilde;es sobre determinado assunto.</p>

<p><strong>SERVIÇO:</strong></p>

<p><strong>Evento:</strong> 1&ordm; Hackathon Unimed Maring&aacute;</p>

<p><strong>Data:</strong> s&aacute;bado e domingo (27 e 28 de agosto)</p>

<p><strong>Inscri&ccedil;&otilde;es:&nbsp;</strong>at&eacute;&nbsp;20/08&nbsp;pelo&nbsp;site&nbsp;<a href="http://www.unimedmaringa.com.br/hackathon">www.unimedmaringa.com.br/hackathon</a></p>

<p><strong>Contato:</strong> Fabio Serpa</p>

<p><strong>Telefone:</strong> (44) 3221-7969</p>

</div>
